@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
	<h1>DeltaX</h1>
	<p class="lead">Web Application</p>
	<p class="lead">@Html.ActionLink("Click For Movie Details", "GetAllMovieDetails")</p>
</div>
